{% extends "app/layout.html" %}
{% block content %}

    <h2>{{ title }}</h2>
    <div class="whitebackground" style="padding:20px; margin-top:15px;">
        <h3>О ГБУЗ ПО «Островская межрайонная больница»</h3>
        <video src="/media/1.mp4" controls="controls" width="100%" style="max-width:800px;" poster="/media/1.jpg">
            Ваш браузер не поддерживает воспроизведение видео.
        </video>
    </div>
    <br>
    <hr/>
    <div class="whitebackground" style="padding:20px; margin-top:15px;">
        <h3>Медицинские услуги и отделения</h3>
        <video src="/media/2.mp4" controls="controls" width="100%" style="max-width:800px;" poster="/media/2.jpg">
            Ваш браузер не поддерживает воспроизведение видео.
        </video>
    </div>
    <br>

{% endblock %}